body {
     min-width: 300px;
    margin-top : 20px;
    background-color: #EEF7F8 ; 
    
}  

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px; 
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select ,       
textarea {
    max-width: 280px; 
}
  
#Number 
{  
    /* float: right;   
    /* padding-top: 10px;
     padding-right:10px;*/
     font-family: 'Californian FB';
     font-size: 4vw;
     height: 70px;   
}
#JumbortonHeader
{
      /* padding: 0px; 
       margin-bottom: ; */
}


.indent
{
        text-indent: 20px;
}

.nonindent{  
        text-indent: 0;      
}


