<p class="h4 text-center"><strong>О НАС</strong></p>

<div class="indent">
    <p>Мы работаем более 10 лет на рынке кондиционеров. </p>
    <p>Оказываем все виды услуг, связанные с бытовыми и полупромышленными кондиционерами: продажа, установка, сервис, чистки, ремонт и т.д.</p>
    <p>Работаем на разных уровнях: от обычных установок домашних кондиционеров до обслуживании нескольких крупных сетей магазинов и учереждений.</p>
    <p>Звоните, мы всегда рады новым клиентам.</p>
    <p><a>Заказать обратный звонок</a></p>
    <p><strong>НАШ ГЛАВНЫЕ ПРИОРИТЕТ - ЭТО КАЧЕСТВО РАБОТЫ!</strong></p>
</div>

