<p class="h4 text-center"><strong>Фирмы-производители</strong></p>
<p>Мы работаем с такими брендами:</p>

<ul class="list-unstyled list-group">
    <li class="list-group-item"><a target="_blank" href="http://daichi.ru/catalog/conditioning/"><img class="img-responsive  center-block" src="~/Content/img/Brands/Daikin.jpg" alt="Daikin" /></a></li>
    <li class="list-group-item"><a target="_blank" href="http://www.mhi-russia.ru"><img class="img-responsive center-block"  src="~/Content/img/Brands/Mitsubishi.jpg" alt="Mitsubishi" /></a></li>
    <li class="list-group-item"><a target="_blank" href="https://haierproff.ru/material/cond/tech/products/invertornie_kondicionery"><img class="img-responsive  center-block" src="~/Content/img/Brands/Haier.jpg" alt="Haier" /></a></li>
    <li class="list-group-item"><a target="_blank" href="http://www.kentatsu-aircon.ru"><img class="img-responsive  center-block" src="~/Content/img/Brands/Kentatsu.jpg" alt="Kentatsu" /></a></li>
    <li class="list-group-item"><a target="_blank" href="http://www.aeronik.ru/catalogitems/konditsionery"><img class="img-responsive  center-block" src="~/Content/img/Brands/Aeronik.jpg" alt="Aeronik" /></a></li>
    <li class="list-group-item"><a target="_blank" href="https://www.google.com.ua/search?&q=rovex"><img class="img-responsive  center-block" src="~/Content/img/Brands/Rovex.png" alt="Rovex" /></a></li>
    <li class="list-group-item"><a target="_blank" href="http://gree-air.ru"><img class="img-responsive  center-block" src="~/Content/img/Brands/Gree.jpg" alt="Gree" /> </a></li>
    <li class="list-group-item"><a target="_blank" href="https://www.google.com.ua/search?q=akvilon+кондиционер"><img class="img-responsive  center-block" src="~/Content/img/Brands/Akvilon.jpg" alt="Akvilon" /></a></li>    
    
    <li class="list-group-item">и другие...</li>
</ul>
 
<p class="h4"><strong>Вы можете заказать у нас любой кондиционер данных брендов</strong>.</p>
<a href="@Url.Action("RequestCall","Default" )">Заказать обратный звонок</a>
