
<img src="~/Content/img/Articles/choosing.jpg" alt="img pic" style="float:left" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
<div class="indent">

    <p class="h3 text-center">  КАК ВЫБРАТЬ КОНДИЦИОНЕР?</p>
     <p> Для обеспечения нужного комфорта при выборе кондиционера необходимо обратить внимание на следующие параметры:</p>
    <ul >
        <li>
            <strong>мощьность охлаждения</strong>
            <p>Мощность кондиционера выбирается исходя из параметров площади того помещения, где он будет установлен. В большинстве случаев выбрать кондиционер по площади (для квартиры) можно исходя из параметров 1 кВт мощности кондиционера по охлаждению на 10 м2 комнаты, при стандартной высоте потолков.</p>
        </li>

        <li>
            <strong>
                 мощность, потребляемая кондиционером
            </strong>
                <p>Мощность потребляемая кондиционером примерно в 3 раза меньше мощности охлаждения, то есть кондиционер мощностью 2,5 кВт потребляет всего около 800 Вт. Поэтому большинство бытовых кондиционеров можно включать в обычную розетку.</p>
        </li>


        <li>
            <strong>
                 энергоэффективность
            </strong>
                <p>Отношение мощности охлаждения к потребляемой мощности является основным показателем энергоэффективности кондиционера. В технических каталогах она обозначается коэффициентом EER (Energy Efficiency Ratio) для охлаждения и . COP (Coefficient of Performance) для обогрева</p>
        </li>

        <li>
            <strong>
                 наличие дополнительных функции кондиционера
            </strong>
                <p>Существуют кондиционеры, которые могут только охлаждать воздух и кондиционеры с возможностью нагрева воздуха, которые в межсезонье (осенью и весной) могут заменить обогреватель.</p>
        </li>


        <li>
            <strong>
                 инвертор или не инвертор
            </strong>
                <p>Набирают популярность инверторные сплит-системы, с переменной мощностью охлаждения. В процессе работы инверторного кондиционера не возникает постоянных циклов включения / отключения компрессора, что позволяет инверторным сплит-системам более точно поддерживать заданную температуру. Инверторные кондиционеры как правило, меньше шумят и позволяют экономить электроэнергию.</p>


        <li>
            <strong>
                 уровень шума кондиционера
            </strong>
                <p>Если вы собрались установить кондиционер в тихом помещении, например в спальне, то следует обратить внимание на этот параметр. У большинства бытовых сплит-систем уровень шума внутреннего блока лежит в диапазоне 26— 36дБ (а уровень шепота например — 25-30 дБ).</p>


        <li>
            <strong>
                 дополнительные потребительские функции кондиционера
            </strong>
               <p> Современные кондиционеры оснащены разнообразными фильтрами, которые призваны очистить воздух в помещении, уничтожив частицы пыли, аллергены, посторонние запахи и микроорганизмы.</p>
                <p>Сплит системы с ионизатором , вырабатывая отрицательные ионы (ионизирующие воздух), не только очишают воздух, но и наполняют помещение дополнительным количеством кислорода,</p>
                <p>Для сырого и влажного климата будет незаменим кондиционер с функцией осушения, что позволит создать оптимальный микроклимат в помещении и пр.</p>
        </li>
    </ul>
       <p> В общем, выбор кондиционеров на сегодняшний день очень широк: от бюджетных сплит-систем, работающих только в режиме охлаждения, до элитной техники, которая помимо расширенного функционального ряда поражает современным дизайном и способна порадовать самого требовательного клиента.</p>

        <p>Не знаешь какой выбрать кондиционер? Звони нам! Поможем выбрать, установим и научим пользоваться! </p>
        <a  href="@Url.Action("RequestCall","Default" )">Заказать звонок консультанта</a>
</div>
