<img src="~/Content/img/Articles/cold.jpg" alt="img pic" style="float:left" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
<div class="indent">
    <p class="h3 text-center">КОНДИЦИОНЕР И БОЛЕЗНЬ, ЧТО СПОСОБСТВУЕТ ПРОСТУДЕ?</p>
    

<p>Считается, что здоровый человек не заболеет при температуре 21-24 гр. Цельсия (комфортная температура в помещении , которую устанавливают в режиме Охлаждение),</p>
    <p>Но пользователь может не учитывать некоторые моменты и в итоге заболевает.</p>
    <p>1. Разница в температурном режиме. Когда человек попадает с жары под кондиционер, сосудистая система не успевает перестроиться, организм переохлаждается , что в последствии может привести к простуде. Поэтому, при включении кондиционера , следите , чтобы разница между уличной температурой и охлаждаемым помещением не превышала 6-8 градусов.</p>
    <p>2. Направление воздушного потока. Человек не должен находиться прямо под кондиционером и, по возможности, надо направить жалюзи с холодным воздухом вверх для равномерного распределения потока по помещению. В современных моделях присутствует режим изменения направления потока воздуха и скорости вентилятора. Если в вашем кондиционере такого управления нет, то Вас спасет экран для кондиционера, эффект одинаковый. Не находитесь в зоне воздушного потока.</p>
    <p>3. Кондиционер усиливает распространение бактерий, если в помещении уже присутствует носитель вируса или бактерии. Это происходит в том случае, если кондиционер старый, без фильтров и кондиционер технически не обслуживали. Таких кондиционеров уже мало , но в каких- то помещениях они могут еще стоять. Имейте это ввиду. В современных моделях стоят фильтры тонкой очистки, антиаллергенные, нано-фильтры и т.д. - все они берегут ваше здоровье. Не реже одного раза в месяц кондиционер необходимо чистить, лучше это делать чаще.</p>
    <p>Соблюдая эти несложные правила, Вы перестанете болеть и будете наслаждаться комфортной средой в любую погоду.</p>
</div>
