<img src="~/Content/img/Articles/consumption.jpg" alt="img pic" style="float:left" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
<div class="indent">
    <p class="h3 text-center">«СКОЛЬКО ЭЛЕКТРОЭНЕРГИИ ПОТРЕБЛЯЕТ КОНДИЦИОНЕР?»</p>

    <p>
        Стоимость электроэнергии с каждым днем только увеличивается и одним из важных показателей, влияющий на выбор кондиционера, является потребление электроэнергии кондиционером.</p>
    <p>Нам часто задают вопрос: </p>
    <p><strong>«Сколько электроэнергии потребляет кондиционер?»</strong></p>
    <p><strong> потребляет электроэнергии в несколько раз меньше (приблизительно от 2,5 до 6) чем выдает!</strong></p>

    <p>К примеру, кондиционер, потребляя 700 Вт электрической мощности, вырабатывает 2 кВт мощности на охлаждение. Происходит это за счет использования фреона, отбирающего тепловую энергию из помещения и выводящее его через теплообменник на улицу.</p>
    <p>
        Все кондиционеры подразделяются на несколько типоразмеров в зависимости от мощности.
    </p>
    <p>
        Минимальный типоразмер — это кондиционер с мощностью 2 кВт «семерка» за час работы при полной загруженности потребляет 0,75 кВт/час.
    </p>
    <p>
        У «Девятки» (2,5 кВт) расход электроэнергии составляет около 0,78 кВт/час.
    </p>
    <p>
        У «Двенадцатого» (3,5 кВт) расход электроэнергии составляет примерно 1 кВт/час.
    </p>
    <p>
        У «Восемнадцатого» (50 кВт) до 1.5 кВт/час.
    </p>
    <p>
        Для сравнения: такие электроприборы как плазменный телевизор потребляют 0,3-0,5 кВт/час, компьютер - 0,3 - 0,5 кВт/ч, утюг - 1,0-2,5 кВт…
    </p>
    <p>
        Для удобства оценки энегоэффективности кондиционеров введена шкала коэффициентов энергоэффективности EER и COP.
    </p>
    <p>
        EER - зависимость мощности выработки холода от потребляемой электроэнергии.
    </p>
    <p>
        COP - зависимость мощности выработки тепла от количества потребленной электроэнергии.
    </p>
    <p>
        Более высокое значение коэффициента соответствует высокому классу энергетической эффективности.
    </p>
    <p>
        Самая высокая энергоэффективность у кондиционеров с инверторным управлением. Потому что в них используются высокотехнологические компрессоры, которые имеют самую высокую производительность охлаждения. А потребление электроэнергии в таких компрессорах на 40% меньше, чем у обычных.
    </p>
    <p>
        Относительно кондиционеров различают электрическую мощность и мощность охлаждения.
    </p>
    <p>
        Электрическая мощность показывает, сколько электроэнергии в киловаттах (кВт) будет потреблять устройство. За эту энергию вы и платите по счетчику.
    </p>
    <p>
        Мощность охлаждения показывает, сколько энергии тратится на перенос тепла с помещения на улицу, ведь так и происходит охлаждение с помощью кондиционирования.
    </p>
    <p>
        Эти две мощности связаны коэффициентом энергоэффективности EER. Равен этот коэффициент отношению мощности охлаждения к потребляемой электрической мощности и для бытовых кондиционеров лежит в пределах 2,5 – 4. Чем выше EER, тем лучше.
    </p>
    <p> То есть, если по расчетам необходимая мощность охлаждения равна 3 кВт, то по таблицам можно получить потребляемую электрическую мощность в пределах 1 кВт.</p>
    </div>
