
<img src="~/Content/img/Articles/efficiency.jpg" alt="img pic" style="float:left" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
<div class="indent">
    <p class="h3 text-center">ЭНЕРГОЭФФЕКТИВНОСТЬ КОНДИЦИОЕНРА</p>
    <p>Экономические потрясения последнего времени заставляют нас задуматься о сокращении расходов. И в последнюю очередь хочется отказывать себе в привычных радостях: еде, покупках, развлечениях. Так на чем же еще стоит сэкономить? Можно экономить деньги на оплате электроэнергии используя в быту экономную технику.</p>
    <p>Потребители бытовой техники в последние годы стали обращать внимание не только на внешний вид и набор функций приобретаемого изделия, но и задумываться над тем, сколько им придется платить за электроэнергию, которую это изделие расходует. Энергосберегающие холодильники, стиральные машины и кондиционеры становятся все более доступными и популярными. Люди готовы платить дороже за обладание современным, энергосберегающим оборудованием, инвестируя тем самым средства в сокращение своих издержек в будущем.</p>
    <p>"Опознать" энергосберегающую технику несложно: Европейская бытовая техника имеет специальную Евронаклейку с обозначением класса энергосбережения: от А — самого экономичного, до G — изделия с высоким расходом энергии. (Кондиционеры категории "A" имеют COP > 3,6 и EER > 3,2, а категории "G" – COP < 2,4 и EER < 2,2).</p>
    <p>Для кондиционеров с 2013 года используется также улучшенная оценка эффективности, называемая «сезонной эффективностью», которая измеряет фактическое потребление энергии по сезону: SEER, SCOP (классы энергоэффективности от A+++ до D).</p>
    <p>Значительно повысить <strong>энергоэффективность </strong>кондиционеров позволила инверторная технология. Для рынка кондиционеров в последние годы характерно увеличение предложения инверторных кондиционеров с улучшенными потребительскими характеристиками, позволяющими снижать энергопотребление, повышать уровень комфорта и длительность службы.</p>
</div>