<div class="indent">
<p class="h4 text-center"><strong>Гарантия</strong></p>
<p>Бесплатный ремонт изделия, с устранением заводских дефектов или замена на новый, если не вышел гарантийны срок</p>
<p>Гарантийный срок считаеться со дня продажи изделия Потребителю, при соблюдении им инструкции по эксплуатации.</p>
<p></p>
<p>Гарантия на установку действует в течении одного года со дня установки.</p>


<a href="#">Заказать обратный звонок</a>
</div>