<div class="indent">
    <p class="h4 text-center"><strong>КАК КУПИТЬ?</strong></p>
    <p>Что бы купить, вам следует выбрать модель и подать заявку. Менеджер свяжеться с вами.</p>
    <p>Вы можете заказать "обратный звонок" и выбрать удобное для Вас время разговра.</p>
   <p><a href="">Заказать обратный звонок</a></p>

    <p>Так же вы можете напрямую позвонить по телефону: +7(978) 778 97 11  и узнать все интересующие Вас вопросы: доставка, наличие, консультация на месте, установка и т.п.</p>
    <p>Оплата может производиться как наличными, так и безналичным расчетем.</p>
</div>



