<img src="~/Content/img/Articles/invertor.jpg" alt="img pic" style="float:left" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
<div class="indent">
    <p class="h3 text-center">КАКИМ КОНДИЦИОНЕРАМ ЛУЧШЕ ОБОГРЕВАТЬСЯ, ИЛИ КОРОКО ОБ ИНВЕРТОРАХ</p>
    <p> В технических характеристиках большинства сплит-систем можно найти такие цифры: диапазон рабочих температур для гарантированной работы в режиме обогрева составляет от – 5 до + 25 градусов Цельсия. При более низких температурах кондиционер теряет заявленную теплопроизводительность, которая рано или поздно снижается до нуля. Более того, бытовые кондиционеры зимой вообще не должны работать по своей конструкции. Масло, растворенное в хладагенте, эффективно смазывает трущиеся и движущиеся детали компрессора именно в гарантированном диапазоне температур. Использование кондиционера при более низких температурах является нарушением условий гарантии и рано или поздно приведет к сильному износу компрессора и выходу его из строя.</p>
    <p>
        Современные кондиционеры способны не только эффективно справляться со своей исторически основной задачей – охлаждать воздух в помещениях, но и здорово греть. Если за последние десять лет в интернете написано сотни статей на тему «не включайте кондиционер зимой», то сегодня ситуация меняется. Такие производители как Mitsubishi Electric и Daikin (Япония) научили свои кондиционеры уверенно греть даже при наружных температурах до - 25°С.
    </p>
    <p>
        Инверторные кондиционеры, способные сегодня греть при очень низких температурах. Теперь о практической стороне дела. Потребление электроэнергии. Инверторные кондиционеры, способные сегодня греть при очень низких температурах имеют очень высокий коэффициент EER, показывающий соотношение выделенного тепла к затраченной электроэнергии. Практически это более привычный КПД (коэффициент полезного действия). Так вот этот показатель сегодня превышает 4. Это означает, что затратив всего лишь двести пятьдесят Ватт, мы получаем более киловатта тепла! Это более чем в четыре раза экономичнее, чем любой электрообогреватель! ЭТО Выгодно?
    </p>
    <p>
        Почему инверторные кондиционеры считаються самыми энергоэффективные?
    </p>
    <p>
        В инверторных кондиционерах, в отличие от традиционных, присутствует возможность изменения частоты вращения двигателя компрессора с помощью преобразования переменного тока в постоянный (инвертирование). Таким образом, холодопроизводительность кондиционера может быть изменена в широких пределах в зависимости от условий эксплуатации.
    </p>
    <p>
        В то время, как «обычные» сплит-системы по достижению заданной температуры отключают компрессор, инверторные снижают его производительность до минимальной. В результате расход электроэнергии (в том числе на частые пуски/остановки системы) значительно сокращается и повышается точность поддержания заданной температуры. Коэффициент EER таких систем может достигать уровня 4 или даже 5, а потребление электричества меньше до 40%, чем у традиционных систем.
    </p>
    <p> Кроме того кондиционеры с инверторным управлением имеют следующие преимущества: повышенный срок эксплуатации компрессора, тихие шумовые характеристики, защита от перепадов напряжения, быстрое охлаждение или обогрев, использование экологически чистых хладагентов, широкий диапазон рабочих температур.</p>
</div>
