
<img src="~/Content/img/Articles/mounting.jpg" alt="img pic" style="float:left">
<div class="indent">
    <p class="h3 text-center">ЧТО НУЖНО ЗНАТЬ О МОНТАЖЕ</p>
    <p>Кондиционер не является бытовой техникой, которую достаточно включить в розетку - и она уже работает. Самое главное здесь не само оборудование, а насколько оно профессионально смонтировано и насколько квалифицированным будет его гарантийное и сервисное обслуживание. Гарантийное и сервисное обслуживание – это не одно и то же. Сервисное обслуживание только платное.</p>
    <p class="text-center  h4"><u><strong>1. Выезд специалиста</strong></u></p>
    <p>Для правильного подбора оборудования и выбора места установки менеджер-проектировщик обязан посетить помещение, которое вы планируете кондиционировать, обсудить с вами все вопросы, касающиеся подбора оборудования, места установки внутреннего и наружного блоков, начертить и согласовать с вами план расположения кондиционера. А также письменно перечислить перечень необходимых работ.</p>
    <p>При этом желательно, что бы длина коммуникаций между блоками была не больше, чем указано в каталоге выбранной вами модели. При большой длине трассы увеличивается стоимость монтажа, возрастает нагрузка на компрессор и падает КПД. Максимальная длина трассы для многих бытовых кондиционеров 7,5м, у некоторых моделей не превышает 10 - 15 м.</p>
    <p>Продумайте, где пройдут коммуникации. Куда будет выводиться дренажная труба для вывода конденсата.</p>
    <p>Во время визита менеджера обязательно задайте ему все вопросы, касающиеся нюансов работы кондиционеров, и прислушайтесь к его рекомендациям. Нельзя экономить на мощности кондиционера, больше, чем на 5-10%. Это, буквально, деньги, выброшенные на ветер. Правильно подбирать кондиционер с небольшим запасом около 10% по холодопроизводительности. Только профессионал может правильно подобрать и помочь вам разместить оборудование.</p>
    <p class="text-center  h4"><u><strong>2. Стоимость монтажа</strong></u></p>
    <p>Стоимость складывается из следующих составляющих:</p>
    <p>В стоимость монтажа включена стоимость расходных материалов – это фреоновые коммуникации, изоляция, кронштейны, крепеж и др.</p>
    <p>Закладывается амортизация инструмента. Полный комплект оборудования для установки одного кондиционера стоит 3-4 тысячи долларов. В день с помощью такого комплекта монтируется 1 или 2 кондиционера.</p>
    <p>Непосредственно оплата труда монтажников. Это как правило высококвалифицированные специалисты. Чтобы произвести качественный монтаж, необходим опыт работы хотя бы год постоянной работы. (Обычно неопытный монтажник на долгое время прикрепляется к профессионалу, прежде чем ему доверят самостоятельную работу.)</p>
    <p>Гарантия на монтажные работы тоже входит в стоимость монтажа.</p>
    <p>Практика показывает, что более 80% всех дефектов, выявленных в системах кондиционирования, явились следствием монтажа «умельцами» и фирмами однодневками.</p>
    <p>Поэтому ни одна серьезная компания не сможет вам предложить современное оборудование и высокий уровень работ по бросовым ценам.</p>
    <p class="text-center  h4"><u><strong>3.Стандартный монтаж сплит-системы:</strong></u></p>
    <ol class="nonindent">
        <li>Блок устанавливается под окном, так, чтобы верхний край наружного блока был не выше уровня подоконника (без привлечения промышленного альпиниста).</li>
        <li>Внутренний блок устанавливается на стене, примыкающей к окну, на расстоянии 70..100 см от внешней стены. Расстояние между потолком и внутренним блоком 20..30 см. Высота потолка не должна превышать 3,5 метров.</li>
        <li>Длина фреоновых коммуникаций не превышает 5 метров. Внутри помещения коммуникации закрываются декоративным пластиковым коробом белого цвета, сечением 60 х 60 или 100 х 60 мм. Отверстия во внешней стене, через которые прокладываются коммуникации, так же закрываются декоративным коробом. Короб располагается с наклоном в 5..10 градусов для слива конденсата. Снаружи здания коммуникации располагаются вдоль стены, при этом крепление коммуникаций к стене или укладывание коммуникаций в декоративный короб не производится.</li>
        <li>Дренаж (гофрированный шланг) прокладывается совместно с фреоновыми коммуникациями и выводится наружу на 10..20 см через ближайшую внешнюю стену.</li>
        <li>Силовой кабель прокладывается в декоративном коробе белого цвете, сечением 20 х 15 мм. Длина силового кабеля не должна превышать 4 м. Силовой кабель снабжается вилкой.</li>
        <li>Подключение в электрощит со стороны нагрузки на АЗС заказчика или в розетку.</li>
        <li>Толщина стены, в которой пробивается отверстие под трассу, не превышает 0,8 метра.</li>
        <li>Между внешним и внутренним блоком не более одной стены.</li>
    </ol>
    <p>При прокладке фреоновых коммуникаций не требуется применение специальных приспособлений (муфты и фитинги), а так же пайка и дозаправка фреоном.</p>
    <p>К началу монтажа Клиент должен обеспечить: свободный доступ к окну, из которого будет производиться монтаж внешнего блока и возможность полного открывания этого окна; свободный доступ к участку стены, на которой будет располагаться внутренний блок и декоративные короба с коммуникациями и силовым кабелем; из комнаты, которой будет производиться монтаж, убрать или накрыть все предметы и поверхности, которым может повредить кирпичная или бетонная пыль и мелкая крошка.</p>
    <p>С повышением мощности кондиционера увеличивается стоимость стандартного монтажа, так как используются более дорогие комплектующие для монтажаи усложняется работа монтажников из-за увеличения веса кондиционера.</p>
    <p class="text-center h4"><u><strong>4. Нестандартный монтаж</strong></u></p>
    <p>Все, что выходит за условия стандартного монтажа, оплачивается дополнительно.</p>
    <p>Наиболее распространенные случаи, когда требуются услуги альпиниста или вышки.</p>
    <ol class="nonindent">
        <li>Очень хорошее дополнение- козырек для наружного блока – неминуемо требует присутствия альпиниста (монтажник не может так низко высунуться из окна, не рискуя при этом жизнью)</li>
        <li>Монтаж наружного блока на высоту более 2,5 метров (а если вам кажется, что это несправедливо, попробуйте сами в течение часа, держать наружный блок (от 40 до 60кг) на вытянутых руках, стоя при этом на стремянке на такой высоте)</li>
        <li>Монтаж моделей 7кВт под окно (также приходится слишком низко высовываться из окна). Если конечно, он не монтируется в метре от земли.</li>
        <li>Монтаж наружного блока сбоку от окна или над окном.</li>
    </ol>
    <p>Перед работой альпиниста вам нужно получить разрешение на выход на крышу.</p>
    <p>При монтаже оборудования дайте возможность специалистам сделать свою работу качественно и не торопясь – ведь от качества произведенных работ во много зависит длительность срока службы вашего кондиционера. Принимая работу монтажников, попросите их познакомить вас с основными приемами работы с кондиционером 5.Вывод дренажа</p>
    <p>Часто приходится решать проблему, куда выводить дренаж от кондиционера. Если это возможно, то дренаж выводится возле наружного блока и вода капает прямо на улицу. Это просто, но не всегда допустимо. Тогда дренаж отводится в канализацию. Обычно эта проблема тоже решается при участии дизайнера. В некоторых случаях надо использовать дренажную помпу.</p>
</div> 