

        <p class="h2 text-center">Часто задаваемые вопросы</p>

        <ul>
            <li>
                <p><strong> Как правильно ухаживать за кондиционером ?</strong></p>
                <div class="indent">
                    <p>Главной процедурой по уходу за кондиционером является регулярная промывка, чистка и своевременная замена загрязненных фильтров . Фильтр, расположенный во внутреннем блоке под передней панелью служит для задержания пыли, поэтому выполняет функцию пылесборников. Его рекомендуется чистить (промывать теплой водой) не реже одного раза в месяц. Если его не мыть, то наслоения пыли будет препятствовать обдуванию радиатора и соответственно охлаждению воздуха. Отсутствие очистки фильтра также может привести к засорению пылью дренажной системы, появлению пробок, сбоям в общем режиме работы кондиционера, подтеканием воды с кондиционера.</p>
                    <p>
                        В обязательном порядке не реже одного раза в год (желательно перед началом сезона) рекомендуется вызывать специалистов сервисной службы для диагностики оборудования, проверки функционирования системы во всех режимах, наличия фреона и необходимости его дозаправки, чистки внутреннего и наружного блоков, чистки дренажной системы.
                    </p>
                    <p>
                        Если внимательно ухаживать за своим климатическим оборудованием и ревностно выполнять все рекомендации, то оно будет служить долго и эффективно, не обременяя Вас лишними хлопотами, растратами и неудобствами.
                    </p>
                </div>
            </li>
            <li>
                <p> <strong>чем отличие инверторного кондиционера от обычного?</strong>
                  
                    <p class="indent">
                    Основное отличие инверторного кондиционера от обычного - регулируемая мощность компрессора. Обычный кондиционер, чтобы поддерживать температурный режим периодически включается и выключается, в то время как инверторный переходит на пониженную или повышенную мощность в автоматическом режиме. Инверторная кондиционирующая техника существенно дороже неинверторных аналогов, что с лихвой оправдывается рядом неоспоримых преимуществ:
                    <ul>
                        <li> энергопотребление инвенторных кондиционеров на 30%-40% ниже, чем в обычных</li>
                        <li>
                             максимально широкий температурный диапазон в зимнее время
                        </li>
                        <li>
                             комфортно низкий шумовой уровень
                        </li>
                        <li>
                             минимальное отклонение от заданной температуры (+-0,5 °C)
                        </li>
                        <li>
                             на 30% продолжительнее срок службы
                        </li>
                        <li>   неприхотливость в эксплуатации</li>
                    </ul>
                 </p>
              
            </li>


            <li>
                <p><strong>При установке сплит-системы бурят внешнюю стену дома, будет ли через эту дырку дуть?</strong></p>
                <p class="indent">
                    Доверяя установку кондиционера профессионалам, вы страхуете себя от любых неприятных последствий, поскольку серьезные фирмы всегда дают гарантию на выполненные нею работы. Монтажники, устанавливающие сплит-систему, используя надежные герметики, обеспечат надежную теплоизоляцию, тщательнейшим образом устранив малейшие зазоры.
                </p>
            </li>
            <li>
                <p><strong>Что значит сплит-система?</strong></p>
                <div class="indent">
                    <p>
                        Split - английское слово, означающее «разделять». Соответственно сплит-система – это кондиционер, состоящий из двух раздельных блоков: наружного и внутреннего, соединенных между собой медными трубами и электрическим кабелем. Внутренний блок устанавливается в помещении, а внешний – «выносится» на улицу, там и происходят самые шумные процессы.
                    </p>
                    <p>
                        Если к одному внешнему блоку подсоединено сразу несколько внутренних блоков, то этот кондиционер называется мульти сплит-системой.
                    </p>
                    <p>
                        Внутренние блоки могут быть различных типов: кассетные, настенные, канальные, напольные, подпотолочные.
                    </p>
                </div>
            </li>
            <li>
                <div class="indent">
                    <p><strong>  Сколько времени занимает монтаж сплит-системы?</strong></p>
                    <p>
                        Если работу выполняют монтажники достаточной квалификации, то стандартный монтаж может продолжаться около 2-4 часов.
                    </p>
                    <p> Если работы по прокладке фреоновых трубопроводов, пробитию отверстий в стенах и расположению блоков сопряжены с какими-то дополнительными сложностями, то монтаж может затянуться на весь рабочий день.</p>
                    </div>
        </ul>
