<p class="h4 text-center"><strong>Сервис</strong></p>
<p>Мы предоставляем широкий выбор услуг:</p>

<ul>
    <li>Установка, перенос и демонтирование кондиционеров;</li>
    <li>Ремонт климатического оборудования;</li>
    <li>Гарантиый и послегарантиый сервис;</li>
    <li>Мойка с полной или частичной разборкой блоков кондиционера.</li>    
</ul>


<a href="">Заказать обратный звонок</a>