<p class="h4 text-center"><strong>Сервис</strong></p>
<p>Мы предоставляем широкий выбор услуг:</p>

<ul>
    <li>Установка, перенос и демонтаж кондиционеров;</li>
    <li>Ремонт систем кондиционирования;</li>
    <li>Гарантиый и послегарантиый сервис;</li>
    <li>Чистка с полной или частичной разборкой блоков кондиционера.</li>    
</ul>


<a href="@Url.Action("RequestCall","Default")">Заказать обратный звонок</a>