@model WebStore.Services.DTO.EmailModel

@{
    Layout = null;
}
<html>

<body>
    <div> 
        <h1>@Model.Subject</h1>
        <p>@Model.Body</p>
        <p>Звонить с @Model.HrFrom до @Model.HrTill</p>
    </div>
</body>
</html>
