@model IEnumerable<WebStore.Services.DTO.ProductDTO>
@{
    ViewBag.Title = "MainView";
}  

<h2 class="hidden">Кондиционеры</h2>
<div class="panel panel-default">
    
    <ul class="nav nav-tabs nav-justified" >
        <li role="presentation"     class= "@if (ViewBag.Tab== 1) 
                                             { @:active 
                                              } " >
                <a href="http://localhost:1544/Default/Index?PriceRange=1#nav-tabs">До 15 000</a></li>
        <li role="presentation"     class= "@if (ViewBag.Tab == 2)
                                              { @:active 
                                            } ">
                 <a href="http://localhost:1544/Default/Index?PriceRange=2#nav-tabs">До 20 000</a></li>
        <li role="presentation"     class= "@if (ViewBag.Tab  == 3)
                                              { @:active 
                                            } ">
                <a href="http://localhost:1544/Default/Index?PriceRange=3#nav-tabs">Свыше 20 000</a></li>
        <li role="presentation"     class= "@if (ViewBag.Tab == 4)
                                              { @:active 
                                            } ">
                <a href="http://localhost:1544/Default/Index?PriceRange=4#nav-tabs">Инвертора</a></li>
        <li role="presentation"     class= "@if (ViewBag.Tab ==0)
                                              { @:active 
                                            } ">
                <a href="http://localhost:1544/Default/Index#nav-tabs">Все</a></li>

    </ul>
    <ul class="nav nav-pills nav-justified">
        <li>
            @foreach (var p in Model)
            {
            <div class="panel-body">
               
                    <div class="btn btn-default col-xm-12  col-sm-12 col-md-12">
                        <a class="btn-link" href="http://localhost:1544/Default/Index?idInfo=@p.Id&PriceRange=@ViewBag.Tab#ModelInfo">
                            <img src="~/Content/img/Conditioner/@p.Brand/@p.Series/INDOOR.jpg" alt="Con. Ind.Unit" class="img-thumbnail img-responsive col-md-2 col-sm-4 col-xs-12 " />
                            <p class="h4 text-center    col-xs-12 col-sm-8 col-md-4" style="margin-top: 0.625em;">@p.Brand.ToUpper() @p.Model.ToUpper()</p>
                        </a>
                            <a class="btn btn-danger    col-xs-12  col-sm-4 col-md-2 col-md-offset-3 col-sm-offset-2 col-xs-4" style="margin-top: 0.625em;" href="https://vk.com/psprices">Купить за @p.Price р. </a>
                    </div>
               
            </div>
            }
        </li>
    </ul>
</div>       
      
   <a name="ModelInfo"></a>
@Html.Action( "ConditionerInfo" );


